################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SajatProjekt0.3/.vs/SajatProjekt0.3/FileContentIndex/3b6918de-120a-4f99-9175-018fdf7cf046.vsidx
/SajatProjekt0.3/.vs/SajatProjekt0.3/FileContentIndex/0288145b-bcb0-4019-bd86-e9b460238619.vsidx
