################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SajatProjekt0.3/.vs/SajatProjekt0.3/FileContentIndex/3b6918de-120a-4f99-9175-018fdf7cf046.vsidx
/SajatProjekt0.3/.vs/SajatProjekt0.3/FileContentIndex/0288145b-bcb0-4019-bd86-e9b460238619.vsidx
/SajatProjekt0.3/.vs/SajatProjekt0.3/FileContentIndex/779de7ff-3bcf-412a-873f-a7b27c986fde.vsidx
/SajatProjekt0.3/.vs/SajatProjekt0.3/FileContentIndex/0fbae84a-d6a2-4ced-a85f-749c0bf00c15.vsidx
/SajatProjekt0.3/.vs/SajatProjekt0.3/FileContentIndex/e3361cdb-f8cc-4c0e-b204-34b23a0f6997.vsidx
/SajatProjekt0.3/.vs/SajatProjekt0.3/FileContentIndex/f0acbb42-1409-44c8-8b7e-17ffe4b59f32.vsidx
/SajatProjekt0.3/.vs/SajatProjekt0.3/FileContentIndex/d6363378-c4e1-411c-b71f-ef99fe7a23f7.vsidx
/SajatProjekt0.3/.vs/SajatProjekt0.3/FileContentIndex/54c746fa-8f5d-4b55-8cd1-8a97a9263962.vsidx
